
h1 {
    font-size: 70px;
    color: blueviolet; 
    text-align: center;
}

h2 {
    font-size: 50px;
    color: darkred; 
    text-align: center;
}

img {
   margin-left: 300px;
}

iframe{
    margin-left: 270px; 
}

body {
    padding: 50px; 
    margin : 20px
}